.ft{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
}
.footer {
  width: 80%;
  aspect-ratio: 27/1;
  background-color: var(--background-color);
  /* margin-bottom: 1em; */
  padding: 1em;
  margin-bottom: 1rem;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1rem);
  border-radius: 1.5rem;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 20%),
    5px 5px 10px rgba(0, 0, 0, 20%);
    display: flex;
  justify-content: center;

}
.footer ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
