:root {
  --background-color: #f9f9f9; /* Light background */
  --primary-accent: #007bff; /* Primary accent (blue) */
  --secondary-accent: #4caf50; /* Secondary accent (green) */
  --text-color: #333333; /* Primary text color */
  --secondary-text-color: #666666; /* Secondary text color */
  --border-color: #cccccc; /* Neutral border color */
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main form {
  width: 30rem;
  height: fit-content;
  /* border:5px black solid; */
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 10px 10px 10px  rgba(124, 124, 124,0.3), -10px -10px 10px  rgb(124, 124, 124,0.3);
;
  backdrop-filter: blur(1rem);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  backdrop-filter: blur(10rem);
  background-color: var(--background-color);
}

.main label {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 8px;
  display: block;
  margin-top: 15px;
  width: 100%;
}
/* .main  */
.main input,
.main select,
.mian button {
  width: 100%;
  padding: 0.5rem;
  margin-top: 5px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: transparent;
  font-size: 1rem;
  color: var(--text-color);
  height: 3rem;
  box-sizing: border-box;
}

.main input::placeholder {
  color: var(--secondary-text-color);
}

.main button {
  background-color: var(--primary-accent);
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
  border: none;
  border-radius: 4px;
  height: 3rem;
  transition: background-color 0.3s ease;
}

.main button:hover {
  background-color: var(--secondary-accent);
}

.main option {
  background-color: var(--background-color);
  color: var(--text-color);
}
