.home {
  width: 1000px;
  height: 100%;
  margin: 1rem 0;
  background-color: var(--background-color);
  box-shadow: 10px 10px 10px rgba(113, 113, 113, 0.2),-10px -10px 10px rgba(113, 113, 113, 0.2);
;
  border-radius: 3.6rem;
  position:relative;
}
.home::before{
    content: '';
    position:absolute;
    top:auto;
    background-color: var(--primary-accent);
    height: 855px;
    width: 855px;
    transform: rotateZ(159deg);
    translate: -30% -30%;
    border-radius: 5rem;
    z-index: 1;
    filter: blur(0.3rem);
}
.text-container{
    width: 532px;
    height: 332px;
    padding: 2rem 1.5rem;
    padding-bottom: 0;
    background: transparent;
    position: relative;
    z-index:3;
}
.text-container p{
    font-size: 50px;
    text-align: center;
    color: #fff;
}
.circle1{
    position: absolute;
    width: 480px;
    height: 500px;
    /* aspect-ratio: 1/1; */
    /* top: calc(50% - 300px); */
    top:2%;
    left: 45%;
    border-radius: 100%;
    background-color: #394EDA;
    opacity: 90%;
    overflow: visible;
    z-index: 2;
}
.c1c{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    position: relative;
    /* mix-blend-mode: difference; */
}
.c2c{
    width: 200%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    position: relative;
    color: black;
    transform: translate(-75%);
    z-index: 5;
}
.circle2{
    position: absolute;
    width: 260px;
    aspect-ratio: 1/1;
    top: 50% ;
    left: 30%;
    border-radius: 100%;
    background-color: #54CE66;
    opacity: 80%;
    z-index: 3;
}
.circle3{
    position: absolute;
    width: 165px;
    aspect-ratio: 1/1;
    top: 5% ;
    left: 80%;
    border-radius: 100%;
    background-color: #FFC107;
    opacity: 80%;
    z-index: 2;
}
.circle4{
    position: absolute;
    width: 230px;
    aspect-ratio: 1/1;
    top: 70% ;
    left: 70%;
    border-radius: 100%;
    background-color: #FF5722;
    opacity: 80%;
    z-index: 1;
}

.circle5{
    position: absolute;
    width: 80px;
    aspect-ratio: 1/1;
    top: 60% ;
    left: 3rem;
    border-radius: 100%;
    background-color: #80DEEA;
    opacity: 60%;
    overflow: visible;
    z-index: 1;
}

.circle6{
    position: absolute;
    width: 80px;
    aspect-ratio: 1/1;
    top: 60% ;
    left: 5rem;
    border-radius: 100%;
    background-color: #80DEEA;
    opacity: 60%;
    z-index: 1;
}

.circle7{
    position: absolute;
    width: 80px;
    aspect-ratio: 1/1;
    top: 60% ;
    left: 7rem;
    border-radius: 100%;
    background-color: #80DEEA;
    opacity: 60%;
    z-index: 1;
}

.circle8{
    position: absolute;
    width: 80px;
    aspect-ratio: 1/1;
    top: 60% ;
    left: 9rem;
    border-radius: 100%;
    background-color: #80DEEA;
    opacity: 60%;
    z-index: 1;
}


.circle9{
    position: absolute;
    width: 80px;
    aspect-ratio: 1/1;
    top: 60% ;
    left: 11rem;
    border-radius: 100%;
    background-color: #80DEEA;
    opacity: 60%;
    z-index: 1;
}

.circle10{
    position: absolute;
    width: 80px;
    aspect-ratio: 1/1;
    top: 60% ;
    left: 13rem;
    border-radius: 100%;
    background-color: #80DEEA;
    opacity: 60%;
    z-index: 1;
    overflow: visible;
}
.log-in-circles{
    cursor: pointer;
}